@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 0 0 0;
}

body {
  background: rgb(var(--bg));
  color: white;
  font-family: var(--font-inter), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-space), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}