@import "tailwindcss";

:root {
  --bg: 13 40 51; /* #0D2833 */
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: rgb(var(--bg)) !important;
  color: white;
}

body {
  font-family: var(--font-inter), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

.heading-font {
  font-family: var(--font-space), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}